---
title: "Heftroman Workshop"
layout: default
description: "A collection of German Dime Novels"
---

<section class="mt-4 mb-5">
    
    <div class="container mb-4">
      <br>
        <h1 class="font-weight-bold title">Heftroman Workshop</h1>    
        <table>
          <tr>
            <td><a href="/heftroman.workshop/_pages/Neue%20Kriminalbibliothek.html">Neue Kriminalbibliothek</a></td>
            <td> Verlagshaus Freya</td>
            <td>Krimi</td>
            <td>1929-1929</td>
            <td>2</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Der%20PfennigRoman.html">Der 30-Pfennig-Roman</a></td>
            <td> Aufwärts-Verl.</td>
            <td>unklar</td>
            <td>1940-1945</td>
            <td>20</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Tom Shark.html">Tom Shark</a></td>
            <td> Verlagshaus Freya</td>
            <td>Krimi</td>
            <td>1929-1930</td>
            <td>323</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Der%20Detektiv.html">Der Detektiv</a></td>
            <td> Verl. moderner Lektüre</td>
            <td>Krimi</td>
            <td>1923-1929</td>
            <td>15</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Moderne Kriminalb&uuml;cher.html">Moderne Kriminal-Bücher</a></td>
            <td> Verlag moderner Lektüre</td>
            <td>Krimi</td>
            <td>1920-1929</td>
            <td>4</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Der%20neue%20Roman.html">Der neue Roman</a></td>
            <td> Glöss</td>
            <td>Liebe</td>
            <td>1950-1950</td>
            <td>2</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Seltsame%20Geschichten.html">Seltsame Geschichten</a></td>
            <td> Verlagshaus Freya</td>
            <td>Abenteuer</td>
            <td>1925-1925</td>
            <td>1</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Sun Koh.html">Sun Koh, der Erbe von Atlantis</a></td>
            <td> Planet-Verl.</td>
            <td>Abenteuer</td>
            <td>1949-1949</td>
            <td>3</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Fred%20Tarmun.html">Fred Tarmun</a></td>
            <td> Mignon-Verlag</td>
            <td>Abenteuer</td>
            <td>1928-1929</td>
            <td>9</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Kleine%20DetektivRomane.html">Kleine Detektiv-Romane</a></td>
            <td> Mignon-Verlag</td>
            <td>Krimi</td>
            <td>1926-1926</td>
            <td>12</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Aufw&auml;rtsJugendB&uuml;cherei.html">Aufwärts-Jugend-Bücherei</a></td>
            <td> Aufwärts-Verl.</td>
            <td>Abenteuer</td>
            <td>1940-1943</td>
            <td>13</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/RomanPerlen.html">Roman-Perlen</a></td>
            <td> Neues Verlagshaus f. Volkslit.</td>
            <td>unklar</td>
            <td>1915-1932</td>
            <td>19</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Piraten Entdecker.html">Piraten, Entdecker!</a></td>
            <td> Neuer Buchverl.</td>
            <td>Abenteuer</td>
            <td>1937-1938</td>
            <td>20</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Abenteuer aus aller Welt.html">Abenteuer aus aller Welt</a></td>
            <td> Fischer</td>
            <td>Abenteuer</td>
            <td>1940-1940</td>
            <td>2</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Humoristische Bibliothek f&uuml;r unsere Feldgrauen.html">Humoristische Bibliothek für unsere Feldgrauen</td>
            <td> Deutsches Dr.- u. Verlagshaus</td>
            <td>Krieg</td>
            <td>1915-1916</td>
            <td>3</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/MignonRomane.html">Mignon-Romane</a></td>
            <td> Mignon-Verl.</td>
            <td>unklar</td>
            <td>1913-1920</td>
            <td>322</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Vergiss%20mein%20nicht.html">Vergiss mein nicht</a></td>
            <td> Verl. moderner Lektüre</td>
            <td>Liebe</td>
            <td>1920-1921</td>
            <td>10</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Erlebnisse%20einsamer%20Menschen.html">Erlebnisse einsamer Menschen</a></td>
            <td> Verlag mod. Lektüre</td>
            <td>Abenteuer</td>
            <td>1914-1920</td>
            <td>98</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Feinde%20ringsum.html">Feinde ringsum!</a></td>
            <td> Ensslin &amp; Laiblin</td>
            <td>Krieg</td>
            <td>1917-1917</td>
            <td>1</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/WeltKriminalBücherei.html">Welt-Kriminal-Bücherei</a></td>
            <td>Dietsch u. Speka</td>
            <td>Krimi</td>
            <td>1925-1927</td>
            <td>7</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Sammlung%20Aus%20weiter%20Welt.html">Sammlung "Aus weiter Welt"</a></td>
            <td> Enßlin &amp; Laiblin</td>
            <td>Abenteuer</td>
            <td>unkown-unkown</td>
            <td>15</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Spannende%20Geschichten.html">Spannende Geschichten</a></td>
            <td> Bertelsmann</td>
            <td>Abenteuer</td>
            <td>1938-1942</td>
            <td>21</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/HansaRomane.html">Hansa-Romane</a></td>
            <td> Wessel</td>
            <td>unklar</td>
            <td>1917-1917</td>
            <td>5</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Moderne Kriminalbücher.html">Moderne Kriminalbücher</a></td>
            <td> Verl. moderner Lektüre</td>
            <td>Krimi</td>
            <td>1929-1929</td>
            <td>5</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Moderne Kriminalbücher.html">Neue Kriminal-Bibliothek</a></td>
            <td> Verlagshaus Freya</td>
            <td>Krimi</td>
            <td>1927-1929</td>
            <td>29</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Der neue ExcentricClub.html">Der neue Excentric-Club</a></td>
            <td> Mignon-Verlag</td>
            <td>Krimi</td>
            <td>1920-1927</td>
            <td>451</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/KolonialBücherei.html">Kolonial-Bücherei</a></td>
            <td> Steiniger</td>
            <td>Abenteuer</td>
            <td>1940-1942</td>
            <td>20</td>
          </tr><tr>
            <td><a href="/heftroman.workshop/_pages/Kriegsbücherei%20der%20deutschen%20Jugend.html">Kriegsbücherei der deutschen Jugend</a></td>
            <td> Steiniger-Verlage</td>
            <td>Krieg</td>
            <td>1940-1944</td>
            <td>51</td>
          </tr>
        </table>
        <div class="row">
        {% include menu-categories.html %}
        </div>
    </div>

    
<div class="container-fluid">
    
    <div class="card-columns">        
        {% for post in paginator.posts reversed %}
            {% include card-post.html %}
        {% endfor %}            
    </div>

    <div class="row justify-content-center mt-5">
     <!-- Pagination links -->
        {% if paginator.total_pages > 1 %}
        <div class="pagination"> 
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span class="prev">&laquo; Prev</span>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{site.baseurl}}/">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span class="next">Next &raquo;</span>
          {% endif %}
        </div>
        {% endif %}      
    </div>

</div>    
  
</section>
